{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'store/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="row">

    {% comment %} navbar {% endcomment %}
    <div class='container'>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a id="cart_id" data-html='true' type="button" class="btn btn-warning" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
                    sagittis lacus vel augue laoreet rutrum faucibus.">
                    cart(0)
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn" href="/checkout">Checkout</a>
            </li>
            </ul>
        </div>
    </nav>
    </div>
    
    {% comment %} end navbar {% endcomment %}
</div>
    <div class="container">
        <div class="row">
    		<div class="col-md-12">
    			<form class="form-control" method="GET">
	    			<div class="card card-sm">
	    				<div class="card-body row align-items-center no-gutter">
	    					<div class="col">
	    						<input type="search" name="search_item" class="form-control form-control-borderless" placeholder="search your product...">
	    					</div>
	    					<div class="col-auto">
	    						<button type="search" class="btn btn-primary">Search</button>
	    					</div>
	    				</div>
	    			</div>
	    		</form>
    		</div>
    	</div>
    	<div class="row">
            {% for item in product_query %}
	    		<div class="col-md-3 col-sm-12">
	    			<div class="card">
	    				<img height=200px src="{{ item.image }}" class="card-img-top">
	    				<div class="card-body">
	    					<div class="card-title" id='nm{{item.id}}'>{{item.name}}</div>
	    					<div class="card-text" id="price{{item.id}}">{{item.current_price}}</div>
                            <a class='btn btn-primary' href="{% url 'details' item.id %}">view</a>
                            <button id="{{item.id}}" class='btn jsclass btn-warning'>add to cart</button>
	    				</div>
	    			</div><br><br>
	    		</div>
            {% endfor %}
    	</div>
        {% comment %} pagination start {% endcomment %}
        
        <div class='row'>
            <div class='col-md-3 offset-md-4'>
                <div class="pagination">
                    <span class="step-links">
                        {% if product_query.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ product_query.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ product_query.number }} of {{ product_query.paginator.num_pages }}.
                        </span>

                        {% if product_query.has_next %}
                            <a href="?page={{ product_query.next_page_number }}">next</a>
                            <a href="?page={{ product_query.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        {% comment %} pagination end {% endcomment %}
    </div>
</body>
<script type="text/javascript">
    if(localStorage.getItem('cart') == null){
        var cart = {}
    }else{
        cart = JSON.parse(localStorage.getItem('cart'))
    }

    $(document).on('click','.jsclass', function(){
        console.log('this event is clicked');
        var item_id = this.id.toString();
        console.log(item_id)

        if(cart[item_id]!=undefined){
            quentity = cart[item_id][0] + 1;
            cart[item_id][0] = quentity;
        }else{
            quentity = 1;
            name = document.getElementById('nm'+item_id).innerHTML;
            price = parseFloat(document.getElementById('price'+item_id).innerHTML);
            cart[item_id] = [name,quentity,price]; 
        }
        console.log(cart);
        localStorage.setItem('cart', JSON.stringify(cart))

        document.getElementById("cart_id").innerHTML = "cart("+Object.keys(cart).length+")";
        
    })


    {% comment %} popover {% endcomment %}
    
        {% comment %} DisplayCart(cart)

        function DisplayCart(cart){
            var cartString = "";
            cartString += "<p>your new popover content</p>";
            var cartIndex = 1;

            for(var x in cart){
                cartString += cartIndex;
                cartString += document.getElementById("nm"+x).innerHTML+ "qty:" +cart[x];
                cartIndex += 1;
            } 
            cartString += "<a href='/checkout'><button class='btn btn-warning' id='checkout'>checkout</button></a>"
            document.getElementById("cart_id").setAttribute('data-content',cartString )
            $('[data-toggle="popover"]').popover();
        } {% endcomment %}
    
</script>
</html>